In [43]:
import pandas as pd

In [115]:
data = pd.read_csv('owndata.csv', encoding="unicode_escape")
data.head()

  label                                              email
0  spam              Rs.8850 on Successful Registration.!!
1  spam  Claim your free t-shirt today and put our A-Te...
2   ham                 Inviting you to the farewell party
3  spam  Your email has won the sum of £800 000 in the ...
4  spam               Free Bitcoin upto ? 1 Lakh every day

In [116]:
data = data.replace(to_replace = ["ham", "spam"], value = ["0", "1"])
data.head()

  label                                              email
0     1              Rs.8850 on Successful Registration.!!
1     1  Claim your free t-shirt today and put our A-Te...
2     0                 Inviting you to the farewell party
3     1  Your email has won the sum of £800 000 in the ...
4     1               Free Bitcoin upto ? 1 Lakh every day

In [117]:
data.describe()

       label                          email
count     40                             40
unique     2                             40
top        1  Hello dear  Hope you are fine
freq      21                              1

In [118]:
data.label.value_counts()[1]

19

In [119]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [120]:
vectorizer = TfidfVectorizer(stop_words='english')

In [121]:
X = vectorizer.fit_transform([x.lower() for x in data["email"]])

In [122]:
tfidf_tokens = vectorizer.get_feature_names()

In [123]:
X = pd.DataFrame(X.toarray())
print(X)

         0         1         2         3         4         5         6    \
0   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
3   0.344512  0.000000  0.000000  0.000000  0.309768  0.000000  0.000000
4   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
5   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
6   0.000000  0.000000  0.000000  0.000000  0.373079  0.000000  0.000000
7   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
8   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
9   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
10  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
11  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
12  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
13  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
14  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
15  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
16  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
17  0.000000  0.000000  0.408248  0.000000  0.000000  0.000000  0.000000
18  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
19  0.000000  0.255482  0.000000  0.000000  0.000000  0.000000  0.255482
20  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
21  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
22  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
23  0.000000  0.000000  0.000000  0.402998  0.000000  0.185464  0.000000
24  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
25  0.000000  0.000000  0.000000  0.340699  0.000000  0.313586  0.000000
26  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
27  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
28  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
29  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
30  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
31  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
32  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
33  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
34  0.000000  0.000000  0.000000  0.000000  0.000000  0.366431  0.000000
35  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
36  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
37  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
38  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
39  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

         7         8         9    ...  166       167       168       169  \
0   0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
1   0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
2   0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
3   0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
4   0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
5   0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
6   0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
7   0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
8   0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
9   0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
10  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
11  0.000000  0.397748  0.000000  ...  0.0  0.000000  0.000000  0.000000
12  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
13  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
14  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
15  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.281761
16  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
17  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
18  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
19  0.000000  0.000000  0.229716  ...  0.0  0.229716  0.255482  0.000000
20  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
21  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
22  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
23  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
24  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
25  0.000000  0.000000  0.000000  ...  0.0  0.340699  0.000000  0.000000
26  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
27  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
28  0.000000  0.000000  0.000000  ...  1.0  0.000000  0.000000  0.000000
29  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
30  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
31  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
32  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
33  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
34  0.000000  0.398113  0.000000  ...  0.0  0.000000  0.000000  0.000000
35  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
36  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
37  0.000000  0.000000  0.316983  ...  0.0  0.000000  0.000000  0.000000
38  0.343131  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000
39  0.000000  0.000000  0.000000  ...  0.0  0.000000  0.000000  0.000000

         170       171       172       173       174       175
0   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
3   0.000000  0.309768  0.000000  0.000000  0.000000  0.000000
4   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
5   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
6   0.414925  0.000000  0.000000  0.000000  0.000000  0.000000
7   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
8   0.000000  0.000000  0.000000  0.000000  0.456033  0.000000
9   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
10  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
11  0.000000  0.397748  0.000000  0.366095  0.000000  0.000000
12  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
13  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
14  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
15  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
16  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
17  0.000000  0.000000  0.408248  0.000000  0.000000  0.000000
18  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
19  0.000000  0.000000  0.000000  0.211435  0.000000  0.000000
20  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
21  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
22  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
23  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
24  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
25  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
26  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
27  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
28  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
29  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
30  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
31  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
32  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
33  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
34  0.000000  0.000000  0.000000  0.366431  0.000000  0.000000
35  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
36  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
37  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
38  0.000000  0.000000  0.000000  0.000000  0.000000  0.343131
39  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

[40 rows x 176 columns]

In [124]:
Y = X.set_axis(tfidf_tokens, axis=1, inplace=False)
print(Y)

         000        04      1872       1mg      2022        25      2500  \
0   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
3   0.344512  0.000000  0.000000  0.000000  0.309768  0.000000  0.000000
4   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
5   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
6   0.000000  0.000000  0.000000  0.000000  0.373079  0.000000  0.000000
7   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
8   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
9   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
10  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
11  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
12  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
13  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
14  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
15  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
16  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
17  0.000000  0.000000  0.408248  0.000000  0.000000  0.000000  0.000000
18  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
19  0.000000  0.255482  0.000000  0.000000  0.000000  0.000000  0.255482
20  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
21  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
22  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
23  0.000000  0.000000  0.000000  0.402998  0.000000  0.185464  0.000000
24  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
25  0.000000  0.000000  0.000000  0.340699  0.000000  0.313586  0.000000
26  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
27  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
28  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
29  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
30  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
31  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
32  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
33  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
34  0.000000  0.000000  0.000000  0.000000  0.000000  0.366431  0.000000
35  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
36  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
37  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
38  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
39  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

          45        50       500  ...  urgent       use     valid   variety  \
0   0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
1   0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
2   0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
3   0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
4   0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
5   0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
6   0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
7   0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
8   0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
9   0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
10  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
11  0.000000  0.397748  0.000000  ...     0.0  0.000000  0.000000  0.000000
12  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
13  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
14  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
15  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.281761
16  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
17  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
18  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
19  0.000000  0.000000  0.229716  ...     0.0  0.229716  0.255482  0.000000
20  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
21  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
22  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
23  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
24  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
25  0.000000  0.000000  0.000000  ...     0.0  0.340699  0.000000  0.000000
26  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
27  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
28  0.000000  0.000000  0.000000  ...     1.0  0.000000  0.000000  0.000000
29  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
30  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
31  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
32  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
33  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
34  0.000000  0.398113  0.000000  ...     0.0  0.000000  0.000000  0.000000
35  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
36  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
37  0.000000  0.000000  0.316983  ...     0.0  0.000000  0.000000  0.000000
38  0.343131  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000
39  0.000000  0.000000  0.000000  ...     0.0  0.000000  0.000000  0.000000

        want       won      work     worth       xxx      year
0   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
3   0.000000  0.309768  0.000000  0.000000  0.000000  0.000000
4   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
5   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
6   0.414925  0.000000  0.000000  0.000000  0.000000  0.000000
7   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
8   0.000000  0.000000  0.000000  0.000000  0.456033  0.000000
9   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
10  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
11  0.000000  0.397748  0.000000  0.366095  0.000000  0.000000
12  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
13  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
14  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
15  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
16  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
17  0.000000  0.000000  0.408248  0.000000  0.000000  0.000000
18  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
19  0.000000  0.000000  0.000000  0.211435  0.000000  0.000000
20  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
21  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
22  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
23  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
24  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
25  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
26  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
27  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
28  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
29  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
30  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
31  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
32  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
33  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
34  0.000000  0.000000  0.000000  0.366431  0.000000  0.000000
35  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
36  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
37  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
38  0.000000  0.000000  0.000000  0.000000  0.000000  0.343131
39  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

[40 rows x 176 columns]

In [125]:
Y['label'] = data['label']
print(Y)

         000        04      1872       1mg      2022        25      2500  \
0   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
3   0.344512  0.000000  0.000000  0.000000  0.309768  0.000000  0.000000
4   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
5   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
6   0.000000  0.000000  0.000000  0.000000  0.373079  0.000000  0.000000
7   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
8   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
9   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
10  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
11  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
12  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
13  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
14  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
15  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
16  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
17  0.000000  0.000000  0.408248  0.000000  0.000000  0.000000  0.000000
18  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
19  0.000000  0.255482  0.000000  0.000000  0.000000  0.000000  0.255482
20  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
21  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
22  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
23  0.000000  0.000000  0.000000  0.402998  0.000000  0.185464  0.000000
24  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
25  0.000000  0.000000  0.000000  0.340699  0.000000  0.313586  0.000000
26  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
27  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
28  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
29  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
30  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
31  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
32  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
33  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
34  0.000000  0.000000  0.000000  0.000000  0.000000  0.366431  0.000000
35  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
36  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
37  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
38  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
39  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

          45        50       500  ...       use     valid   variety      want  \
0   0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
1   0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
2   0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
3   0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
4   0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
5   0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
6   0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.414925
7   0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
8   0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
9   0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
10  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
11  0.000000  0.397748  0.000000  ...  0.000000  0.000000  0.000000  0.000000
12  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
13  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
14  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
15  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.281761  0.000000
16  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
17  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
18  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
19  0.000000  0.000000  0.229716  ...  0.229716  0.255482  0.000000  0.000000
20  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
21  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
22  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
23  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
24  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
25  0.000000  0.000000  0.000000  ...  0.340699  0.000000  0.000000  0.000000
26  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
27  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
28  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
29  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
30  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
31  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
32  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
33  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
34  0.000000  0.398113  0.000000  ...  0.000000  0.000000  0.000000  0.000000
35  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
36  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
37  0.000000  0.000000  0.316983  ...  0.000000  0.000000  0.000000  0.000000
38  0.343131  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
39  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000

         won      work     worth       xxx      year  label
0   0.000000  0.000000  0.000000  0.000000  0.000000      1
1   0.000000  0.000000  0.000000  0.000000  0.000000      1
2   0.000000  0.000000  0.000000  0.000000  0.000000      0
3   0.309768  0.000000  0.000000  0.000000  0.000000      1
4   0.000000  0.000000  0.000000  0.000000  0.000000      1
5   0.000000  0.000000  0.000000  0.000000  0.000000      0
6   0.000000  0.000000  0.000000  0.000000  0.000000      1
7   0.000000  0.000000  0.000000  0.000000  0.000000      0
8   0.000000  0.000000  0.000000  0.456033  0.000000      1
9   0.000000  0.000000  0.000000  0.000000  0.000000      0
10  0.000000  0.000000  0.000000  0.000000  0.000000      1
11  0.397748  0.000000  0.366095  0.000000  0.000000      1
12  0.000000  0.000000  0.000000  0.000000  0.000000      0
13  0.000000  0.000000  0.000000  0.000000  0.000000      0
14  0.000000  0.000000  0.000000  0.000000  0.000000      0
15  0.000000  0.000000  0.000000  0.000000  0.000000      1
16  0.000000  0.000000  0.000000  0.000000  0.000000      0
17  0.000000  0.408248  0.000000  0.000000  0.000000      1
18  0.000000  0.000000  0.000000  0.000000  0.000000      0
19  0.000000  0.000000  0.211435  0.000000  0.000000      1
20  0.000000  0.000000  0.000000  0.000000  0.000000      0
21  0.000000  0.000000  0.000000  0.000000  0.000000      0
22  0.000000  0.000000  0.000000  0.000000  0.000000      1
23  0.000000  0.000000  0.000000  0.000000  0.000000      1
24  0.000000  0.000000  0.000000  0.000000  0.000000      0
25  0.000000  0.000000  0.000000  0.000000  0.000000      1
26  0.000000  0.000000  0.000000  0.000000  0.000000      1
27  0.000000  0.000000  0.000000  0.000000  0.000000      0
28  0.000000  0.000000  0.000000  0.000000  0.000000      0
29  0.000000  0.000000  0.000000  0.000000  0.000000      1
30  0.000000  0.000000  0.000000  0.000000  0.000000      0
31  0.000000  0.000000  0.000000  0.000000  0.000000      1
32  0.000000  0.000000  0.000000  0.000000  0.000000      0
33  0.000000  0.000000  0.000000  0.000000  0.000000      0
34  0.000000  0.000000  0.366431  0.000000  0.000000      1
35  0.000000  0.000000  0.000000  0.000000  0.000000      0
36  0.000000  0.000000  0.000000  0.000000  0.000000      1
37  0.000000  0.000000  0.000000  0.000000  0.000000      1
38  0.000000  0.000000  0.000000  0.000000  0.343131      1
39  0.000000  0.000000  0.000000  0.000000  0.000000      0

[40 rows x 177 columns]

In [126]:
p_dist = Y.groupby('label').sum()

In [127]:
p_dist.head()

,000,04,1872,1mg,2022,25,2500,45,50,500,...,urgent,use,valid,variety,want,won,work,worth,xxx,year
label,,,,,,,,,,,,,,,,,,,,,
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
1,0.344512,0.255482,0.408248,0.743698,0.682847,0.865481,0.255482,0.343131,0.795861,0.546699,...,0.0,0.570415,0.255482,0.281761,0.414925,0.707515,0.408248,0.94396,0.456033,0.343131

In [128]:
p_dist += 1
p_dist.head()

,000,04,1872,1mg,2022,25,2500,45,50,500,...,urgent,use,valid,variety,want,won,work,worth,xxx,year
label,,,,,,,,,,,,,,,,,,,,,
0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,2.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000
1,1.344512,1.255482,1.408248,1.743698,1.682847,1.865481,1.255482,1.343131,1.795861,1.546699,...,1.0,1.570415,1.255482,1.281761,1.414925,1.707515,1.408248,1.94396,1.456033,1.343131

In [129]:
p_dist.loc['0'] = p_dist.loc['0'] / p_dist.max(axis=1)[0]
p_dist.loc['1'] = p_dist.loc['1'] / p_dist.max(axis=1)[1]

In [130]:
p_dist.head()

,000,04,1872,1mg,2022,25,2500,45,50,500,...,urgent,use,valid,variety,want,won,work,worth,xxx,year
label,,,,,,,,,,,,,,,,,,,,,
0,0.379137,0.379137,0.379137,0.379137,0.379137,0.379137,0.379137,0.379137,0.379137,0.379137,...,0.758273,0.379137,0.379137,0.379137,0.379137,0.379137,0.379137,0.379137,0.379137,0.379137
1,0.453834,0.423782,0.475348,0.588577,0.568037,0.629684,0.423782,0.453368,0.606185,0.522081,...,0.337545,0.530086,0.423782,0.432653,0.477601,0.576364,0.475348,0.656175,0.491477,0.453368